body {
    background-color: whitesmoke;
  }
  title {
    text-align: center;
    color: rgb(69, 50, 75);
  }
  h1 {
    text-align: center;
    color: rgb(152, 112, 165);
  }
  p {
    text-align: center;
    color: burlywood;
  }

  a {
    text-align: center;
    color: powderblue;
  
  }